<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAConfigError</key>
	<dict>
		<key>comment</key>
		<string>error when CA can't be found</string>
		<key>value</key>
		<string>Assurez-vous que les paramètres de l'autorité de certification sont corrects.</string>
	</dict>
	<key>Cancel</key>
	<dict>
		<key>comment</key>
		<string>button for cancelling actions</string>
		<key>value</key>
		<string>Annuler</string>
	</dict>
	<key>CertConnectionError</key>
	<dict>
		<key>comment</key>
		<string>message when Certificate Authority can't be reached</string>
		<key>value</key>
		<string>Erreur de connexion. Assurez-vous que les certificats SSL sont approuvés et que l'URL est correcte pour votre X509 CA.</string>
	</dict>
	<key>InvalidPassword</key>
	<dict>
		<key>comment</key>
		<string>error when password is wrong</string>
		<key>value</key>
		<string>Mot de passe invalide. Veuillez réessayer.</string>
	</dict>
	<key>InvalidUsername</key>
	<dict>
		<key>comment</key>
		<string>error when username is wrong</string>
		<key>value</key>
		<string>Nom d'utilisateur invalide. Veuillez réessayer.</string>
	</dict>
	<key>LoginWindow-OldPasswordLabel</key>
	<dict>
		<key>comment</key>
		<string>Label for old password</string>
		<key>value</key>
		<string>Old Password</string>
	</dict>
	<key>LoginWindow-PasswordLabel</key>
	<dict>
		<key>comment</key>
		<string>Label for password</string>
		<key>value</key>
		<string>Password</string>
	</dict>
	<key>NetworkLocalMismatch</key>
	<dict>
		<key>comment</key>
		<string>error when network and local passwords do not match</string>
		<key>value</key>
		<string>Vos mots de passe réseau et locaux sont différents. Entrez votre mot de passe local pour mettre à jour votre session.</string>
	</dict>
	<key>NoMADMenuController-ChangePassword</key>
	<dict>
		<key>comment</key>
		<string>Menu Item to Change Password</string>
		<key>value</key>
		<string>Changer le mot de passe</string>
	</dict>
	<key>NoMADMenuController-Connected</key>
	<dict>
		<key>comment</key>
		<string>Status when connected to AD</string>
		<key>value</key>
		<string>Connected</string>
	</dict>
	<key>NoMADMenuController-NoUser</key>
	<dict>
		<key>comment</key>
		<string>User info when no user is available</string>
		<key>value</key>
		<string>No User</string>
	</dict>
	<key>NoMADMenuController-NotLoggedIn</key>
	<dict>
		<key>comment</key>
		<string>User info for ticket life when not signed in</string>
		<key>value</key>
		<string>Not logged in.</string>
	</dict>
	<key>NoMADMenuController-NotSignedIn</key>
	<dict>
		<key>comment</key>
		<string>User info when not signed in</string>
		<key>value</key>
		<string>Not Signed In</string>
	</dict>
	<key>NoMADMenuController-PasswordExpiresInDays</key>
	<dict>
		<key>comment</key>
		<string>Long text for how many days until your password expires</string>
		<key>value</key>
		<string>Le mot de passe expire dans %@ jours</string>
	</dict>
	<key>NoMADMenuController-RenewTickets</key>
	<dict>
		<key>comment</key>
		<string>Menu item to renew Kerberos tickets</string>
		<key>value</key>
		<string>Renouveler le ticket</string>
	</dict>
	<key>PasswordAboutToExpire</key>
	<dict>
		<key>comment</key>
		<string>message when password is about to expire</string>
		<key>value</key>
		<string>Password about to expire!</string>
	</dict>
	<key>PasswordChangeSuccessful</key>
	<dict>
		<key>comment</key>
		<string>message to let user know password changed successfully</string>
		<key>value</key>
		<string>Le mot de passe a été changé avec succès. Remarque: le délai d'expiration du mot de passe peut prendre jusqu'à une heure pour être mis à jour.</string>
	</dict>
	<key>PasswordDoesNotExpire</key>
	<dict>
		<key>comment</key>
		<string>menu item for when the password has no expiration date</string>
		<key>value</key>
		<string>Le mot de passe n'expire jamais</string>
	</dict>
	<key>PasswordExpire</key>
	<dict>
		<key>comment</key>
		<string>error when password has expired</string>
		<key>value</key>
		<string>Votre mot de passe a expiré. Veuillez réinitialiser votre mot de passe maintenant.</string>
	</dict>
	<key>PasswordExpiresOn</key>
	<dict>
		<key>comment</key>
		<string>Your network password is about to expire on &lt;date&gt;</string>
		<key>value</key>
		<string>Votre mot de passe réseau est sur le point d'expirer </string>
	</dict>
	<key>PasswordMismatch</key>
	<dict>
		<key>comment</key>
		<string>error when new passwords don't match</string>
		<key>value</key>
		<string>Les nouveaux mots de passe ne correspondent pas.</string>
	</dict>
	<key>RequestAnyway</key>
	<dict>
		<key>comment</key>
		<string>button to request anyway</string>
		<key>value</key>
		<string>Demander à nouveau</string>
	</dict>
	<key>SignIn</key>
	<dict>
		<key>comment</key>
		<string>Menu item to Sign In</string>
		<key>value</key>
		<string>Se connecter</string>
	</dict>
	<key>UserInformation-Ignore</key>
	<dict>
		<key>comment</key>
		<string>Password change notification ignore button</string>
		<key>value</key>
		<string>Ignore</string>
	</dict>
	<key>UserInformation-PasswordChanged</key>
	<dict>
		<key>comment</key>
		<string>Notification title when password changed</string>
		<key>value</key>
		<string>Password Changed</string>
	</dict>
	<key>UserInformation-PwdChangedSignInAgain</key>
	<dict>
		<key>comment</key>
		<string>Notification text asking to sign in again</string>
		<key>value</key>
		<string>Your password was changed, please re-sign into NoMAD to update your password.</string>
	</dict>
	<key>ValidCertificate</key>
	<dict>
		<key>comment</key>
		<string>user already has a valid certificate</string>
		<key>value</key>
		<string>Vous avez déjà un certificat valide.</string>
	</dict>
	<key>d</key>
	<dict>
		<key>comment</key>
		<string>short form of days</string>
		<key>value</key>
		<string>j</string>
	</dict>
</dict>
</plist>
