<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAConfigError</key>
	<dict>
		<key>comment</key>
		<string>error when CA can't be found</string>
		<key>value</key>
		<string>Proszę sprawdź czy ustawienia Certificate Authority są poprawne.</string>
	</dict>
	<key>Cancel</key>
	<dict>
		<key>comment</key>
		<string>button for cancelling actions</string>
		<key>value</key>
		<string>Cancel</string>
	</dict>
	<key>CertConnectionError</key>
	<dict>
		<key>comment</key>
		<string>message when Certificate Authority can't be reached</string>
		<key>value</key>
		<string>Brak połączenia. Proszę sprawdź czy certificat SSL jest zaufany i URL X509 CA jest poprawny.</string>
	</dict>
	<key>InvalidPassword</key>
	<dict>
		<key>comment</key>
		<string>error when password is wrong</string>
		<key>value</key>
		<string>Złe hasło. Proszę spróbuj ponownie.</string>
	</dict>
	<key>InvalidUsername</key>
	<dict>
		<key>comment</key>
		<string>error when username is wrong</string>
		<key>value</key>
		<string>Zła nazwa użytkownika. Proszę spróbuj ponownie.</string>
	</dict>
	<key>LoginWindow-OldPasswordLabel</key>
	<dict>
		<key>comment</key>
		<string>Label for old password</string>
		<key>value</key>
		<string>Stare hasło</string>
	</dict>
	<key>LoginWindow-PasswordLabel</key>
	<dict>
		<key>comment</key>
		<string>Label for password</string>
		<key>value</key>
		<string>Hasło</string>
	</dict>
	<key>NetworkLocalMismatch</key>
	<dict>
		<key>comment</key>
		<string>error when network and local passwords do not match</string>
		<key>value</key>
		<string>Twoje hasło lokalne i sieciowe jest inne. Wpisz proszę hasło swojego maca.</string>
	</dict>
	<key>NoMADMenuController-ChangePassword</key>
	<dict>
		<key>comment</key>
		<string>Menu Item to Change Password</string>
		<key>value</key>
		<string>Zmień hasło</string>
	</dict>
	<key>NoMADMenuController-NoUser</key>
	<dict>
		<key>comment</key>
		<string>User info when no user is available</string>
		<key>value</key>
		<string>Brak użytkownika</string>
	</dict>
	<key>NoMADMenuController-NotLoggedIn</key>
	<dict>
		<key>comment</key>
		<string>User info for ticket life when not signed in</string>
		<key>value</key>
		<string>Nie jesteś zalogowany.</string>
	</dict>
	<key>NoMADMenuController-NotSignedIn</key>
	<dict>
		<key>comment</key>
		<string>User info when not signed in</string>
		<key>value</key>
		<string>Nie jesteś zalogowany</string>
	</dict>
	<key>NoMADMenuController-PasswordExpiresInDays</key>
	<dict>
		<key>comment</key>
		<string>Long text for how many days until your password expires</string>
		<key>value</key>
		<string>Hasło wygaśnie za: %@ days</string>
	</dict>
	<key>NoMADMenuController-RenewTickets</key>
	<dict>
		<key>comment</key>
		<string>Menu item to renew Kerberos tickets</string>
		<key>value</key>
		<string>Odśwież Tickety</string>
	</dict>
	<key>PasswordAboutToExpire</key>
	<dict>
		<key>comment</key>
		<string>message when password is about to expire</string>
		<key>value</key>
		<string>Password about to expire!</string>
	</dict>
	<key>PasswordChangeSuccessful</key>
	<dict>
		<key>comment</key>
		<string>message to let user know password changed successfully</string>
		<key>value</key>
		<string>Hasło zostało zmienione. Informacja: Może minąć godzina zanim informacja o przedawnieniu hasła zostanie zaktualizowana.</string>
	</dict>
	<key>PasswordDoesNotExpire</key>
	<dict>
		<key>comment</key>
		<string>menu item for when the password has no expiration date</string>
		<key>value</key>
		<string>Hasło nie wygasa</string>
	</dict>
	<key>PasswordExpire</key>
	<dict>
		<key>comment</key>
		<string>error when password has expired</string>
		<key>value</key>
		<string>Twoje hasło wygasło. Proszę zresetuj swoje hasło teraz.</string>
	</dict>
	<key>PasswordExpiresOn</key>
	<dict>
		<key>comment</key>
		<string>Your network password is about to expire on &lt;date&gt;</string>
		<key>value</key>
		<string>Twoje hasło sieciowe wygaśnie za </string>
	</dict>
	<key>PasswordMismatch</key>
	<dict>
		<key>comment</key>
		<string>error when new passwords don't match</string>
		<key>value</key>
		<string>Twoje nowe hasło nie zgadza się wpisz je poprawnie.</string>
	</dict>
	<key>RequestAnyway</key>
	<dict>
		<key>comment</key>
		<string>button to request anyway</string>
		<key>value</key>
		<string>Zarządaj</string>
	</dict>
	<key>SignIn</key>
	<dict>
		<key>comment</key>
		<string>Menu item to Sign In</string>
		<key>value</key>
		<string>Zaloguj się</string>
	</dict>
	<key>UserInformation-Ignore</key>
	<dict>
		<key>comment</key>
		<string>Password change notification ignore button</string>
		<key>value</key>
		<string>Ignoruj</string>
	</dict>
	<key>UserInformation-PasswordChanged</key>
	<dict>
		<key>comment</key>
		<string>Notification title when password changed</string>
		<key>value</key>
		<string>Hasło zostało zmienione</string>
	</dict>
	<key>UserInformation-PwdChangedSignInAgain</key>
	<dict>
		<key>comment</key>
		<string>Notification text asking to sign in again</string>
		<key>value</key>
		<string>Twoje hasło zostało zmienione, zaloguj się prosze do NoMADa, aby zaktualizować hasło.</string>
	</dict>
	<key>ValidCertificate</key>
	<dict>
		<key>comment</key>
		<string>user already has a valid certificate</string>
		<key>value</key>
		<string>Posiadasz już ważny Certyfikat.</string>
	</dict>
	<key>d</key>
	<dict>
		<key>comment</key>
		<string>short form of days</string>
		<key>value</key>
		<string>d</string>
	</dict>
</dict>
</plist>
