<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAConfigError</key>
	<dict>
		<key>comment</key>
		<string>Fehlermeldung wenn Zertifkatsstelle nicht gefunden werden kann</string>
		<key>value</key>
		<string>Bitte überprüfen Sie ob die Einstellungen für Ihre Zertifkatsstelle korrekt sind.</string>
	</dict>
	<key>Cancel</key>
	<dict>
		<key>comment</key>
		<string>Schaltfläche zum Abbrechen</string>
		<key>value</key>
		<string>Abbrechen</string>
	</dict>
	<key>CertConnectionError</key>
	<dict>
		<key>comment</key>
		<string>Nachricht wenn Zertifikatsstelle nicht erreicht werden kann</string>
		<key>value</key>
		<string>Verbindungsfehler. Stellen Sie sicher dass die URL für Ihre X509 CA korrekt ist und den SSL Zertifkaten vertraut wird.</string>
	</dict>
	<key>InvalidPassword</key>
	<dict>
		<key>comment</key>
		<string>Fehlermeldung wenn das Passwort inkorrekt eingegeben wurde</string>
		<key>value</key>
		<string>Ungültiges Passwort. Bitte erneut eingeben.</string>
	</dict>
	<key>InvalidUsername</key>
	<dict>
		<key>comment</key>
		<string>Fehlermeldung wenn der Benutzername inkorrekt eingegeben wurde</string>
		<key>value</key>
		<string>Ungültiger Benutzername. Bitte erneut eingeben.</string>
	</dict>
	<key>LoginWindow-OldPasswordLabel</key>
	<dict>
		<key>comment</key>
		<string>Label for old password</string>
		<key>value</key>
		<string>Old Password</string>
	</dict>
	<key>LoginWindow-PasswordLabel</key>
	<dict>
		<key>comment</key>
		<string>Label for password</string>
		<key>value</key>
		<string>Password</string>
	</dict>
	<key>NetworkLocalMismatch</key>
	<dict>
		<key>comment</key>
		<string>Fehlermeldung wenn Netzwerk- und lokales Passwort nicht übereinstimmen</string>
		<key>value</key>
		<string>Netzwerk-Passwort und lokales Passwort stimmen nicht überein. Bitte geben Sie das Passwort für Ihren Mac ein.</string>
	</dict>
	<key>NoMADMenuController-ChangePassword</key>
	<dict>
		<key>comment</key>
		<string>Menüpunkt um das Passwort zu ändern</string>
		<key>value</key>
		<string>Passwort ändern</string>
	</dict>
	<key>NoMADMenuController-Connected</key>
	<dict>
		<key>comment</key>
		<string>Status when connected to AD</string>
		<key>value</key>
		<string>Connected</string>
	</dict>
	<key>NoMADMenuController-NoUser</key>
	<dict>
		<key>comment</key>
		<string>User info when no user is available</string>
		<key>value</key>
		<string>No User</string>
	</dict>
	<key>NoMADMenuController-NotLoggedIn</key>
	<dict>
		<key>comment</key>
		<string>User info for ticket life when not signed in</string>
		<key>value</key>
		<string>Not logged in.</string>
	</dict>
	<key>NoMADMenuController-NotSignedIn</key>
	<dict>
		<key>comment</key>
		<string>User info when not signed in</string>
		<key>value</key>
		<string>Not Signed In</string>
	</dict>
	<key>NoMADMenuController-PasswordExpiresInDays</key>
	<dict>
		<key>comment</key>
		<string>Anzeige für verbleibende Tage bis das Passwort abläuft</string>
		<key>value</key>
		<string>Passwort läuft ab in: %@ Tagen</string>
	</dict>
	<key>NoMADMenuController-RenewTickets</key>
	<dict>
		<key>comment</key>
		<string>Menüpunkt um Kerberos tickets zu erneuern.</string>
		<key>value</key>
		<string>Tickets erneuern</string>
	</dict>
	<key>PasswordAboutToExpire</key>
	<dict>
		<key>comment</key>
		<string>message when password is about to expire</string>
		<key>value</key>
		<string>Password about to expire!</string>
	</dict>
	<key>PasswordChangeSuccessful</key>
	<dict>
		<key>comment</key>
		<string>Nachricht um den Benutzer zu informieren dass das Passwort efolgreich geändert wurde</string>
		<key>value</key>
		<string>Passwort erfolgreich geändert. Hinweis: Es kann bis zu eine Stunde dauern bis das Ablaufdatum aktualisiert wird.</string>
	</dict>
	<key>PasswordDoesNotExpire</key>
	<dict>
		<key>comment</key>
		<string>Menüpunkt wenn kein Ablaufdatum für das Passwort gesetzt ist.</string>
		<key>value</key>
		<string>Passwort läuft nicht ab</string>
	</dict>
	<key>PasswordExpire</key>
	<dict>
		<key>comment</key>
		<string>Fehlermeldung wenn das Passwort abgelaufen ist</string>
		<key>value</key>
		<string>Passwort ist abgelaufen. Bitte das Passwort jetzt ändern.</string>
	</dict>
	<key>PasswordExpiresOn</key>
	<dict>
		<key>comment</key>
		<string>Netzwerk-Passwort läuft ab am &lt;date&gt;</string>
		<key>value</key>
		<string>Netzwerk-Passwort läuft ab am </string>
	</dict>
	<key>PasswordMismatch</key>
	<dict>
		<key>comment</key>
		<string>Fehlermeldung wenn neue Passwörter nicht übereinstimmen</string>
		<key>value</key>
		<string>Neue Passwörter stimmen nicht überein.</string>
	</dict>
	<key>RequestAnyway</key>
	<dict>
		<key>comment</key>
		<string>Schaltfläche um trotzdem ein Zertifikat anzufordern</string>
		<key>value</key>
		<string>Trotzdem anfordern</string>
	</dict>
	<key>SignIn</key>
	<dict>
		<key>comment</key>
		<string>Menüpunkt zum Anmelden</string>
		<key>value</key>
		<string>Anmelden</string>
	</dict>
	<key>UserInformation-Ignore</key>
	<dict>
		<key>comment</key>
		<string>Password change notification ignore button</string>
		<key>value</key>
		<string>Ignore</string>
	</dict>
	<key>UserInformation-PasswordChanged</key>
	<dict>
		<key>comment</key>
		<string>Notification title when password changed</string>
		<key>value</key>
		<string>Password Changed</string>
	</dict>
	<key>UserInformation-PwdChangedSignInAgain</key>
	<dict>
		<key>comment</key>
		<string>Notification text asking to sign in again</string>
		<key>value</key>
		<string>Your password was changed, please re-sign into NoMAD to update your password.</string>
	</dict>
	<key>ValidCertificate</key>
	<dict>
		<key>comment</key>
		<string>Benutzer hat bereits ein gültiges Zertifikat</string>
		<key>value</key>
		<string>Gültiges Zertifikat bereits vorhanden.</string>
	</dict>
	<key>d</key>
	<dict>
		<key>comment</key>
		<string>short form of days</string>
		<key>value</key>
		<string>d</string>
	</dict>
</dict>
</plist>
